MYSQL_ROOT_PASSWORD=sua_senha_aqui
MYSQL_DATABASE=recargafacil
MYSQL_USERNAME=root
MYSQL_PASSWORD=sua_senha_aqui

POSTGRES_DB=recargafacil
POSTGRES_USER=seu_usuario_aqui
POSTGRES_PASSWORD=sua_senha_aqui